.post-heading {
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.post-container {
    max-width: 100%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50%;
    padding-bottom: 5rem;
}

.post-card {
    background: #1a1919;
    padding: 0.5rem 1rem;
}

.post-card img {
    width: 100%;
}

.post-title {
    color: #fff;
    padding: 1rem 0;
}

.post-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    padding: 1rem 0;
}
.post-details .author {
    padding-bottom: 1rem;
    padding-right: 5%;
    font-size: 1.1rem;
}
.post-details .author-name {
    padding-bottom: 1rem;
    text-align: end;
    font-size: 1.1rem;
}

.post-btns {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
}

.post-btns .btn {
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 1140px){
    .post-container {
        max-width: 90%;
        margin: auto;
        grid-gap: 20%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5rem;

    }
}

@media screen and (max-width: 840px){
    .post-container {
        max-width: 90%;
        margin: auto;
        grid-gap: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5rem;

    }
}

@media screen and (max-width: 540px){
    .post-container {
        max-width: 90%;
        margin: auto;

        grid-template-columns: 1fr;
    }
}